html,
body {
    padding: 0;
    margin: 0;
    background: $bg_secondary;
    height: 100%;

    * {
        color: $primary !important;
    }

}

* {
    outline-color: $primary !important;
}

.unshow {
    display: none !important;
}

.muse {
    &-nav-btn {
        position: fixed;
        padding: 20px;
        position: fixed;
        top: -8px;
        left: -5px;
        height: 40px;

        button {
            background-color: $bg_primary;
            border: 1px solid lightgrey;
        }
    }

    &-more-btn {
        /* Button */
        background-color: $bg_primary;
        box-sizing: border-box;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5.9765px 7.96867px;
        gap: 5.98px;
        cursor: pointer;

        span {
            /* Title */
            font-family: 'Libre Franklin';
            font-style: normal;
            font-weight: 700;
            line-height: 8px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.249021px;

            color: #121212;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;

            max-width: max-content;
            margin: auto;
        }
    }
}

.app-bar {
    background-color: $bg_primary !important;
    padding: $padding;
}


