.muse {
    &-h1 {
        /* Headline 1 */
        font-family: 'Merriweather';
        font-style: italic;
        font-weight: 900;
        font-size: 96px;
        line-height: 112px;
        /* identical to box height, or 117% */
        letter-spacing: -1.5px;
        color: $primary;

    }

    &-h2 {
        /* Headline 2 */
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 300;
        font-size: 60px;
        line-height: 72px;
        /* identical to box height, or 120% */

        letter-spacing: -0.5px;
    }

    &-h3 {
        /* Headline 3 */
        font-family: 'Merriweather';
        font-style: italic;
        font-weight: 900;
        font-size: 48px;
        line-height: 64px;
        /* identical to box height, or 133% */

        color: $primary;

    }

    &-h4 {
        /* Headline 4 */
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        /* identical to box height, or 118% */
        letter-spacing: 0.25px;
        color: $primary;

    }

    &-h5 {
        /* Headline 5 */
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */
        color: $primary;

    }

    &-h6 {
        /* Headline 6 */
        font-family: 'Merriweather';
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */
        letter-spacing: 0.15px;
        color: $primary;

    }

    &-subtitle1 {
        /* Subtitle 1 */
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 138% */
        letter-spacing: 0.15px;
        color: $primary;

    }

    &-subtitle2 {
        /* Subtitle 2 */
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        color: $primary;

    }

    &-body {
        /* Body 1 */
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 138% */
        letter-spacing: 0.444444px;
        color: $primary;

    }

    &-body2 {
        /* Body 2 */
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        letter-spacing: 0.25px;
        color: $primary;

    }

    &-btn {
        /* Button */
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        letter-spacing: 0.5px;
        color: $primary;

    }

    &-caption {
        /* Caption */


        font-family: 'Merriweather';
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */

        color: $primary;

    }

    &-overline {
        /* Overline */
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 16px;
        /* identical to box height, or 160% */
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $primary;

    }

    &-time , &-src-name {
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 20px;
        /* or 182% */
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: 0.25px;
        color: $secondary;
    }

    &-title {
        /* Title */
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        // line-height: 20px;

        /* or 125% */
        display: flex;
        align-items: normal;
        letter-spacing: 0.15px;
        color: #121212;
        width: 100%;
        height: 55px;
        top: 0 !important;

        /***/
        margin: 0;
        padding: 0;
        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

        & > * {
            max-width: 100% !important;
            max-height: 100% !important;
            white-space: normal !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
        }
        
    }

}
// .ellipsis {
//     max-width: 95% !important;
//     max-height: 95% !important;
//     white-space: nowrap !important;
//     overflow: hidden !important;
//     text-overflow: ellipsis !important;
//   }
  