@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  background: #D6D6D6;
}
html *,
body * {
  color: #000000 !important;
}

.muse-nav-btn {
  position: fixed;
  border: 1px solid green;
  padding: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.muse-nav-btn p {
  color: red;
}
.muse-nav-btn-inner {
  border: 1px solid black;
  border-color: transparent;
  position: absolute;
  top: 22px;
  width: 200px;
  height: 200px;
  background: #f2f2f2;
  border-width: 1px;
  border-style: solid;
  transform: rotate(45deg);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}
.muse-nav-btn-inner::after {
  height: 90px;
  right: 30px;
  left: auto;
  bottom: -13px;
  top: auto;
}
.muse-nav-btn-inner::after, .muse-nav-btn-inner::before {
  transform: rotate(45deg);
  content: "";
  position: absolute;
  width: 2px;
  height: 85px;
  margin-top: -41px;
  z-index: 1;
  right: auto;
  left: 27px;
  bottom: auto;
  top: 27px;
}
.muse-nav-btn-outter {
  position: fixed;
  top: -130px;
  left: -90px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  z-index: 10;
}
.muse-nav-btn-outter::after {
  left: auto;
  right: 0;
  margin-top: -45px;
  height: 92px;
}
.muse-nav-btn-outter::after, .muse-nav-btn-outter::before {
  background-color: #FFFFFF;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 2px;
  height: 86px;
  margin-top: -41px;
  z-index: 1;
}
.muse-more-btn {
  /* Button */
  background-color: #FFFFFF;
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.9765px 7.96867px;
  gap: 5.98px;
  cursor: pointer;
}
.muse-more-btn span {
  /* Title */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  line-height: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.249021px;
  color: #121212;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
}

.app-bar {
  background-color: #FFFFFF !important;
  padding: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.muse-h1 {
  /* Headline 1 */
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
  /* identical to box height, or 117% */
  letter-spacing: -1.5px;
  color: #000000;
}
.muse-h2 {
  /* Headline 2 */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height, or 120% */
  letter-spacing: -0.5px;
}
.muse-h3 {
  /* Headline 3 */
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  color: #000000;
}
.muse-h4 {
  /* Headline 4 */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height, or 118% */
  letter-spacing: 0.25px;
  color: #000000;
}
.muse-h5 {
  /* Headline 5 */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #000000;
}
.muse-h6 {
  /* Headline 6 */
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  letter-spacing: 0.15px;
  color: #000000;
}
.muse-subtitle1 {
  /* Subtitle 1 */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  letter-spacing: 0.15px;
  color: #000000;
}
.muse-subtitle2 {
  /* Subtitle 2 */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  color: #000000;
}
.muse-body {
  /* Body 1 */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  letter-spacing: 0.444444px;
  color: #000000;
}
.muse-body2 {
  /* Body 2 */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  letter-spacing: 0.25px;
  color: #000000;
}
.muse-btn {
  /* Button */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.5px;
  color: #000000;
}
.muse-caption {
  /* Caption */
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  color: #000000;
}
.muse-overline {
  /* Overline */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 160% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #000000;
}
.muse-time {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  /* or 182% */
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}
.muse-title {
  /* Title */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* or 125% */
  display: flex;
  align-items: normal;
  letter-spacing: 0.15px;
  color: #121212;
  width: 100%;
  height: 45px;
  top: 0 !important;
  /***/
  margin: 0;
  padding: 0;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.ellipsis {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile-wrapper,
main,
.main {
  max-width: 400px;
  margin: auto;
}

.muse-story {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  width: inherit;
  height: auto;
  max-width: 400px;
  margin: auto;
  border-bottom: 0.498042px dashed rgba(0, 0, 0, 0.38);
  box-sizing: border-box;
}
.muse-story-container {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 21px 0px 23px;
  gap: 24px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.muse-story-textarea {
  /* Text Container */
  gap: 5px;
  /* Inside auto layout */
  width: 100%;
}
.muse-story-img-area {
  /* Image Container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 74px;
  height: 74px;
  background-color: #edecec;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.muse-chips {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  max-width: 100%;
  width: 100%;
  /****/
  overflow-x: scroll;
  background-color: #FFFFFF;
}
.muse-chip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.muse-chip-label {
  /* Label */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 500;
  line-height: 9px;
  padding: 16px;
  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  letter-spacing: 0.12451px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.muse-chip-divider {
  /* Chip Divider */
  height: 15px;
  border-right: 0.498042px dashed rgba(0, 0, 0, 0.38);
}
.muse-overline-time {
  /* Overline and Time */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.muse-big-story {
  background-color: #FFFFFF;
  /* Story */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 100%;
  padding: 8.96475px 0 0 0;
}
.muse-big-img {
  /* Image Container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: 250px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  background-color: #edecec;
}
.muse-news-heading {
  /* Heading Container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
  gap: 4.98px;
  width: 100%;
  border-bottom: 0.498042px dashed rgba(0, 0, 0, 0.38);
  background-color: #FFFFFF;
}
.muse-news-heading div {
  padding: 10px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9.96084px 0px 7.96867px;
  gap: 5.98px;
  width: 100%;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.muse-news-heading-title {
  /* Title */
  width: 163.36px;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  line-height: 10px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.0747063px;
  padding: 10px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.muse-time {
  color: rgba(0, 0, 0, 0.6) !important;
}
.muse-money-charts {
  border-bottom: 0.498042px solid rgba(0, 0, 0, 0.16);
  background-color: antiquewhite;
  border: 1px solid blue;
  height: 200px;
}
.muse-money-charts .chart {
  border-top: 1px solid #000;
  margin-top: 21%;
  background-color: azure;
  width: 100%;
  height: 60%;
}
.muse-money-charts .stocks {
  /* Stocks Container */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3.98433px 0px;
  gap: 1.99px;
  background-color: #FFFFFF;
}
.muse-money-charts .stocks .stock {
  /* Stock */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 0;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.muse-money-charts .stocks .stock .stock-data {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  height: 90px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.muse-money-charts .stocks .stock .stock-data div {
  border: 1px solid red;
  height: 50%;
}
.muse-money-charts .stocks .stock .stock-data .change {
  /* Change Direction */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 2.49px;
  width: 100px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.muse-money-charts .stocks-divider {
  /* Chip Divider */
  height: 90px;
  border-right: 0.498042px dashed rgba(0, 0, 0, 0.38);
}/*# sourceMappingURL=styles.css.map */