.article {
    margin: 10px auto;
}

#imgWrapper {
    background-color: $glaucous;
}

#imgWrapper div {
    max-height: 150px !important;
    margin: 0 auto !important;
}

.play-icon {
    font-size: 20px !important;
}